In [1]:
import pandas as pd
import pandera as pa

In [116]:

df = pd.read_csv('ocorrencia.csv', sep=";", parse_dates=["ocorrencia_dia"], dayfirst=True)
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06,16:30:00,0

In [5]:
df.loc[:, 'ocorrencia_classificacao']

0             INCIDENTE
1              ACIDENTE
2              ACIDENTE
3              ACIDENTE
4              ACIDENTE
             ...
5162           ACIDENTE
5163           ACIDENTE
5164    INCIDENTE GRAVE
5165          INCIDENTE
5166          INCIDENTE
Name: ocorrencia_classificacao, Length: 5167, dtype: object

In [6]:
df.loc[1:3]

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0

In [7]:
df.codigo_ocorrencia.is_unique

True

In [10]:
#declarando indice
df.set_index('codigo_ocorrencia', inplace=True)

In [11]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
codigo_ocorrencia,,,,,,,,
52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0
45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0
45407,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06,16:30:00,0

In [12]:
df.loc[45331]

codigo_ocorrencia2                        45331
ocorrencia_classificacao               ACIDENTE
ocorrencia_cidade                     GUARULHOS
ocorrencia_uf                                SP
ocorrencia_aerodromo                       SBGR
ocorrencia_dia              2012-01-06 00:00:00
ocorrencia_hora                        13:44:00
total_recomendacoes                           3
Name: 45331, dtype: object

In [13]:
#remover indice e voltar ao original
df.reset_index(drop=True, inplace=True)

In [14]:
df.head()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0
4,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06,16:30:00,0

In [4]:
#alterando dados
df.loc[, 'ocorrencia_aerodromo'] = ''

In [5]:
df.head(3)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0

In [21]:
df.loc[1] = 20

In [18]:
df.head(2)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05 00:00:00,20:27:00,0
1,20,20,20,20,20,20,20,20

In [25]:
df.loc[:,'total_recomendacoes'] = 5

In [27]:
df.head(5)

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05 00:00:00,20:27:00,5
1,20,20,20,20,20,20,20,5
2,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06 00:00:00,13:00:00,5
3,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06 00:00:00,17:00:00,5
4,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06 00:00:00,16:30:00,5

In [99]:
#fazendo backup da coluna
df['ocorrencia_uf_bkp'] = df.ocorrencia_uf

In [38]:
df.head(20)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,ocorrencia_classificacaoBKP
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,,2012-01-05,20:27:00,0,RS,INCIDENTE
1,45331,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP,ACIDENTE
2,45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0,RS,ACIDENTE
3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0,SP,ACIDENTE
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06,16:30:00,0,RS,ACIDENTE
5,52243,52243,GRAVE,UBATUBA,SP,***,2012-01-06,14:30:00,0,SP,INCIDENTE
6,50713,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0,SP,INCIDENTE GRAVE
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,0,PA,INCIDENTE
8,45391,45391,ACIDENTE,CONCEIÇÃO DAS ALAGOAS,MG,***,2012-01-08,16:00:00,0,MG,ACIDENTE
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0,MG,INCIDENTE
10,45332,45332,ACIDENTE,VIAMÃO,RS,***,2012-01-09,13:30:00,0,RS,ACIDENTE
11,52245,52245,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-09,13:36:00,0,RS,INCIDENTE
12,45396,45396,INCIDENTE GRAVE,MARABÁ,PA,SBMA,2012-01-11,11:21:00,0,PA,INCIDENTE GRAVE
13,45408,45408,GRAVE,ELDORADO,SP,***,2012-01-11,13:45:00,1,SP,ACIDENTE
14,45447,45447,INCIDENTE,RIO BRANCO,AC,***,2012-01-13,18:15:00,0,AC,INCIDENTE
15,45409,45409,ACIDENTE,CÁCERES,MT,***,2012-01-14,10:00:00,0,MT,ACIDENTE
16,45693,45693,INCIDENTE,MACAÉ,RJ,***,2012-01-14,10:30:00,0,RJ,INCIDENTE
17,52246,52246,INCIDENTE,BRASÍLIA,DF,SBBR,2012-01-16,16:47:00,0,DF,INCIDENTE
18,50714,50714,INCIDENTE GRAVE,CAMOCIM,CE,SNWC,2012-01-17,18:25:00,0,CE,INCIDENTE GRAVE
19,45399,45399,INCIDENTE GRAVE,MUANÁ,PA,***,2012-01-18,17:35:00,0,PA,INCIDENTE GRAVE

In [100]:
df.loc[:, 'ocorrencia_uf'] = df.ocorrencia_uf_bkp

In [37]:
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [102]:
df['ocorrencia_classificacaoBKP'] = df.ocorrencia_classificacao

In [39]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp,ocorrencia_classificacaoBKP
1,45331,45331,GRAVE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP,ACIDENTE
3,45401,45401,GRAVE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0,SP,ACIDENTE
5,52243,52243,GRAVE,UBATUBA,SP,***,2012-01-06,14:30:00,0,SP,INCIDENTE
6,50713,50713,GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0,SP,INCIDENTE GRAVE
13,45408,45408,GRAVE,ELDORADO,SP,***,2012-01-11,13:45:00,1,SP,ACIDENTE
...,...,...,...,...,...,...,...,...,...,...,...
5148,80441,80441,GRAVE,BRAGANÇA PAULISTA,SP,SDVH,2021-12-20,18:15:00,0,SP,ACIDENTE
5157,80453,80453,GRAVE,CAMPINAS,SP,SBKP,2021-12-29,09:00:00,0,SP,INCIDENTE
5158,80454,80454,GRAVE,ARAÇATUBA,SP,SBAU,2021-12-29,21:35:00,0,SP,INCIDENTE GRAVE
5161,80456,80456,GRAVE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0,SP,INCIDENTE
5163,80452,80452,GRAVE,MARACAÍ,SP,****,2021-12-31,09:30:00,0,SP,ACIDENTE

In [42]:
df

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,***,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,***,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,***,2012-01-06,16:30:00,0
...,...,...,...,...,...,...,...,...,...
5162,80458,80458,ACIDENTE,JATAÍ,GO,####,2021-12-30,20:30:00,0
5163,80452,80452,ACIDENTE,MARACAÍ,SP,****,2021-12-31,09:30:00,0
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0

ocorrencia_uf
**
ocorrencia_aerodromo
###!
####
**
***
****
ocorrencia_hora
NULL

In [43]:
#substituindo valores
df.loc[df.ocorrencia_uf == '****', ['ocorrencia_uf']] = pd.NA

In [57]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3
2,45333,45333,ACIDENTE,VIAMÃO,RS,0,2012-01-06,13:00:00,0
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,0,2012-01-06,17:00:00,0
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,0,2012-01-06,16:30:00,0

In [83]:
#usando o replace para alterar várias linhas
df.replace(['**','###!','####','***','****','NULL'], pd.NA, inplace=True)

In [94]:
#para saber quantos dados não informados o dataframe possui
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  2
ocorrencia_aerodromo        1905
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
dtype: int64

In [85]:
#colocando valor nos dados nao informados
df.fillna(10, inplace=True)

In [87]:
#alterando alguns dados nao informados
df.replace([10], pd.NA, inplace=True)

In [105]:
df.head()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,RS
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
2,45333,45333,ACIDENTE,VIAMÃO,RS,<NA>,2012-01-06,13:00:00,0,RS
3,45401,45401,ACIDENTE,SÃO SEBASTIÃO,SP,<NA>,2012-01-06,17:00:00,0,SP
4,45407,45407,ACIDENTE,SÃO SEPÉ,RS,<NA>,2012-01-06,16:30:00,0,RS

In [97]:
#alterando somente alguns dados NA
df.fillna(value={'ocorrencia_uf':10}, inplace=True)

In [113]:
df.isna().sum()

codigo_ocorrencia              0
codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  0
ocorrencia_aerodromo        1904
ocorrencia_dia                 0
ocorrencia_hora                0
total_recomendacoes            0
ocorrencia_uf_bkp              0
dtype: int64

In [104]:
#excluindo coluna
df.drop(['ocorrencia_classificacaoBKP'], axis=1, inplace=True)

In [106]:
#excluir todos os valores nao informados
df.dropna()

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,ocorrencia_uf_bkp
0,52242,52242,INCIDENTE,PORTO ALEGRE,RS,SBPA,2012-01-05,20:27:00,0,RS
1,45331,45331,ACIDENTE,GUARULHOS,SP,SBGR,2012-01-06,13:44:00,3,SP
6,50713,50713,INCIDENTE GRAVE,CAMPINAS,SP,SDAI,2012-01-07,18:15:00,0,SP
7,45334,45334,INCIDENTE,BELÉM,PA,SBBE,2012-01-08,19:12:00,0,PA
9,52244,52244,INCIDENTE,UBERLÂNDIA,MG,SBUL,2012-01-08,22:13:00,0,MG
...,...,...,...,...,...,...,...,...,...,...
5160,80451,80451,INCIDENTE,MANAUS,AM,SBEG,2021-12-30,14:41:00,0,AM
5161,80456,80456,INCIDENTE,SÃO PAULO,SP,SBSP,2021-12-30,13:15:00,0,SP
5164,80457,80457,INCIDENTE GRAVE,NOVO HAMBURGO,RS,SSNH,2021-12-31,11:59:00,0,RS
5165,80460,80460,INCIDENTE,CURITIBA,PR,SBBI,2021-12-31,15:12:00,0,PR
5166,80467,80467,INCIDENTE,PETROLINA,PE,SBPL,2021-12-31,20:30:00,0,PE

In [112]:
#excluindo o NA por coluna
df.dropna(subset=['ocorrencia_hora'], inplace=True)

In [120]:
#excluindo valores duplicados
df.drop_duplicates(inplace=True)